<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop for <b>beginners</b> will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

<p>
  This workshop is geared towards beginners and no prior experience is necessary. For intermediate and advanced coders,
  OU Libraries offers regular office hours with specialists. Stop by the <a href="http://libraries.ou.edu/dsl">Digital Scholarship Lab</a>
  on Thursdays from 1PM to 3PM or the <a href="http://www.ou.edu/innovationhub.html">Innovation Hub</a> on Fridays from 10AM to 12PM
  with any questions. Intermediate and advanced learners are invited to participate in workshops as helpers in order to
  learn more about the Software and Data Carpentry program and its pedagogy.
</p>
